*{
    list-style : none;
    text-decoration : none;
    border-collapse : collapse;
    margin: 0px;
    padding: 0px;
    color : #000;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.intro_bg{
    background-color : black;
    width:100%;
    height:750px;
}

.header {
    display : flex;
    width : 1280px;
    margin : auto;
    height : 86px;
    /*background-color : red;*/
}

.nav {
    display : flex;
    justify-content : flex-start;
    line-height : 70px;
    width : 980px;
    /*background-color : yellow;*/
    padding : 20px;
}

.nav > li {
    margin-right : 80px;
}

.nav > li > a {
    font-family : 'EarlyFontDiary';
    font-weight : bold;
    color : red;
}

.name {
    line-height : 70px;
    font-size : 30px;
    padding : 20px;
    font-family: 'EarlyFontDiary';
    color : red;
}

.container {
    margin : 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    max-width: 1280px;
    height : 600px;
    /*background-color: blue;*/
}
.movie {
    margin: 15px auto;
    height: 400px;
    width : 280px;
    text-align: center;
    
}

.movie > ul{
    font-family: 'EarlyFontDiary';
    font-weight : bold;
    font-size : 18px;
    margin-top : 420px;
    text-align : left;
}

.movie >ul > li{
    padding : 8px;
    color : white;
}
