*{
    list-style : none;
    text-decoration : none;
    border-collapse : collapse;
    margin: 0px;
    padding: 0px;
    color : #000;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.intro_bg{
    background-color : black;
    width:100%;
    height:100%px;
}

.header {
    display : flex;
    width : 1280px;
    margin : auto;
    height : 86px;
    /*background-color : red;*/
}

.nav {
    display : flex;
    justify-content : flex-start;
    line-height : 70px;
    width : 980px;
    /*background-color : yellow;*/
    padding : 20px;
}

.nav > li {
    margin-right : 80px;
}

.nav > li > a {
    font-family : 'EarlyFontDiary';
    font-weight : bold;
    color : red;
}

.name {
    line-height : 70px;
    font-size : 30px;
    padding : 20px;
    font-family: 'EarlyFontDiary';
    color : red;
}

.container {
    margin : 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1280px;
    height : 720px;
    
    /* background-color: blue; */
}

.img1 {
    height: 400px;
    width : 280px;
    text-align: center;
}

.img2 {
    height: 400px;
    width : 280px;
    text-align: center;
}

.img3 {
    height: 400px;
    width : 280px;
    text-align: center;
}

.img4 {
    height: 400px;
    width : 280px;
    text-align: center;
    
}

.movie > ul {
    padding-top : 20px;

}

.movie > ul > li{
    padding : 8px;
    color : white;
    font-family: 'EarlyFontDiary';
    font-weight : bold;
    font-size : 18px;
    text-align : left;
}


.more1 {
    font-family: 'EarlyFontDiary';
    display : block;
    font-weight : bold;
    font-size : 18px;
    line-height : 40px;
    width : 120px;
    margin: -300px auto auto 80px;
    color : white;
    background : red;
    position : fixed;
    opacity : 0;
    transition:0.5s all;
    border-radius : 5px;
}
.more2 {
    font-family: 'EarlyFontDiary';
    display : block;
    font-weight : bold;
    font-size : 18px;
    line-height : 40px;
    width : 120px;
    margin: -300px auto auto 80px;
    color : #fff;
    background : red;
    position : fixed;
    opacity : 0;
    transition:0.5s all;
    border-radius : 5px;
}
.more3 {
    font-family: 'EarlyFontDiary';
    display : block;
    font-weight : bold;
    font-size : 18px;
    line-height : 40px;
    width : 120px;
    margin: -300px auto auto 80px;
    background : red;
    position : fixed;
    opacity : 0;
    transition:0.5s all;
    border-radius : 5px;
}
.more4 {
    font-family: 'EarlyFontDiary';
    display : block;
    font-weight : bold;
    font-size : 18px;
    line-height : 40px;
    width : 120px;
    margin: -300px auto auto 80px;
    background : red;
    opacity : 0;
    transition:0.5s;
    position : fixed;
    border-radius : 5px;
}



.one:hover .more1 {opacity : 1;}
.two:hover .more2 {opacity : 1;}
.three:hover .more3 {opacity : 1;}
.four:hover .more4 {opacity : 1;}


.pop-up-box1{
    display : block;
    background-color : gray;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    padding : 10px 15px;
    display : none;
}

.pop-up-box1.active{
    display : block;
}

.pop-up-box2{
    display : block;
    background-color : gray;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    padding : 10px 15px;
    display : none;
}

.pop-up-box2.active{
    display : block;
}
.pop-up-box3{
    display : block;
    background-color : gray;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    padding : 10px 15px;
    display : none;
}

.pop-up-box3.active{
    display : block;
}
.pop-up-box4{
    display : block;
    background-color : gray;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    padding : 10px 15px;
    display : none;
}

.pop-up-box4.active{
    display : block;
}

.btn-clo {
    /* background-color : yellow; */
    margin-bottom : 10px;
    text-align : right;
    cursor : pointer;
    font-size : 30px;
    font-weight : bold;
}

.btn-clo:hover { color : orange;}

.pop-up-bg{
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : rgba(0,0,0,0.7);
    top : 0;
    left : 0;
    display : none;
}

.pop-up-bg.active{
    display: block;
}
