*{
    list-style : none;
    text-decoration : none;
    border-collapse : collapse;
    margin: 0px;
    padding: 0px;
    color : #000;
}

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.intro_bg{
    background-image : url("image/mini.jfif");
    background-size : 1700px 1080px;
    width : 100%;
    height : 1080px;
}

.header {
    display : flex;
    width : 1280px;
    margin : auto;
    height : 86px;
    /* background-color : red; */
}

.nav {
    display : flex;
    justify-content : flex-start;
    line-height : 70px;
    width : calc(1280px - 300px);
    /* background-color : yellow; */
    padding : 20px;
}

.nav > li {
    margin-right : 80px;
}

.nav > li > a {
    color : black;
    font-family : 'EarlyFontDiary';
    font-weight : bold;
}

.intro_text {
    width : 1280px;
    margin : 70px auto 231px auto;
    /* background-color : green; */
}

.intro_text > h1 {
    font-family: 양진체;
    font-size : 48px;
    color : black;
    padding : 20px;
}

.intro_text > h1 > span {
    font-size : 70px;
    color : red;
    font-weight : 300;
    text-shadow : 5px 5px 5px black;
}

.intro_text > h2 {
    font-family: 'EarlyFontDiary';
    font-size : 30px;
    font-weight : bold;
    color : black;
    padding : 20px;
    /* background-color : yellow; */
    margin : -20px 5px;
}

.genre0 {
    display : flex;
    justify-content : flex-start;
    width : 1000px;
    margin : -180px auto auto 100px;
    padding : 20px;
    border-radius : 15px;
}


.genre0 > li{
    margin : auto;
    padding : 10px;
    border-radius : 10px;
    border : 5px solid black;
    background-color : white;
    width : 200px;
    height : 50px;
    box-shadow : 7px 7px black;
    text-align: center;
}

.genre0 > li > a {
    font-family : '양진체';
    font-size : 30px;
    color : black;
}

.genre1 {
    display : flex;
    justify-content : flex-start;
    width : 1000px;
    margin : 0px auto auto 100px;
    padding : 20px;
    border-radius : 15px;
}


.genre1 > li {
    margin : auto;
    padding : 10px;
    border-radius : 10px;
    background-color :  white;
    border : 5px solid black;
    box-shadow : 7px 7px black;
    padding : 10px;
    width : 200px;
    height : 50px;
    text-align: center;
}

.genre1 > li > a {
    font-family : '양진체';
    font-size : 30px;
    color : black;
}

.manu li:hover{
    transform : scale(1.2);
    transition : all 0.3s ease-in-out;
    border : 5px solid rgb(245, 245, 104);
    box-shadow : 7px 7px rgb(245, 245, 104);
}
